<html>
<body>

{% extends 'Reviews/base.html' %}

{% block title %}
<h3><u>College List Under SPPU:</u></h3>
{% endblock %}

{% block body %}
<br><br>
<h5>
{% if college_list%}
	{% for college in college_list %}
	<div class="col-xs-12 col-lg-12">
		<ul class="list-group" style="list-style-type: none;"><li class="list-group-item"><a href="{% url 'Reviews:college_detail' college.id%}">{{ college.name }}</a></li>
		<li class="list-group-item"> {{ college.review_set.count }} Reviews </li>
        </ul>
	</div>
	{% endfor %}
	{% else %}
</h5>
<p>No college registered </p>
{% endif %}
{% endblock %}

</body>
</html>