<html>
<body>

<h1>
Sign Up
</h1>
<br><br>
<form class="form-group" role="form" action="" method="post">
	{% csrf_token %}
	<h3><i>For Students</i></h3>
	{{ Uform.as_p }}
	{{ Sform.as_p }}
	<button type="submit">Signup!</button>
</form>	

<br><hr><br>
<form class="form-group" role="form" action="" method="post">
	{% csrf_token %}
	<h3><i>For Industry Experts</i></h3>
	{{ Uform.as_p }}
	{{ Iform.as_p }}
	<button type="submit">Signup!</button>
<br>
<h3>Already have an account?? </h3> 
<form>
	<input type="button" value="Login" onclick="window.location.href='{% url 'Reviews:login_user' %}'"/>
</form>
</body>
</html>