<html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function(){
                 $('select#id_college').change(function () {
                     var optionSelected = $(this).find("option:selected");
                     var valueSelected  = optionSelected.val();
                     var college_name   = optionSelected.text();
					$.ajax({
					url: "{% url 'Reviews:get_deps' %}",
					data: {'clg': college_name},
					dataType: 'json',
					success: function(data){
						 $("#id_depart option").remove();
						for (var i = data.list.length - 1; i >= 0; i--) {
							$("#id_depart").append('<option>'+ data.list[i] +'</option>');
						};
					}
                 });
            });
        });

        </script>
<body>

<h1>
Sign Up
</h1>
<br><br>
<form class="form-group" role="form" action="" method="post">
	{% csrf_token %}
	<h3><i>For Students</i></h3>
	{{ Uform.as_p }}
	{{ Sform.as_p }}
	<button type="submit">Signup!</button>
</form>	

<br><hr><br>
<form class="form-group" role="form" action="" method="post">
	{% csrf_token %}
	<h3><i>For Industry Experts</i></h3>
	{{ Uform.as_p }}
	{{ Iform.as_p }}
	<button type="submit">Signup!</button>
<br>
<h3>Already have an account?? </h3> 
<form>
	<input type="button" value="Login" onclick="window.location.href='{% url 'Reviews:login_user' %}'"/>
</form>
</body>
</html>