<html>
<body>
<h1>Get best College Recommendations</h1>
<hr>
<br>
<form action="{% url 'Reviews:recommend' %}" method="post">
{% csrf_token %}
<div>
	Name:
	<input type="text" name="name">
</div>
<br>
<div>
	Enter your CET marks
	<input type="text" name="marks">
</div>
<br>
<div>
	Enter your AIR rank
	<input type="text" name="rank">
</div>
<br>
<div>
	<select name="caste">
		<option value="Open">Open</option>
		<option value="SC">SC</option>
		<option value="ST">ST</option>
		<option value="NT">NT</option>
	</select>
</div>
<br>
<div>
	Enter your departments of choice:
	<br>
	<select name="dep" multiple>
		<option value="Mechanical">Mechanical</option>
		<option value="Computer">Computer</option>
		<option value="IT">IT</option>
		<option value="E&tc">E&Tc</option>
		<option value="Civil">Civil</option>
		<option value="Electrical">Electrical</option>
		<option value="Chemical">Chemical</option>
		<option value="Instrumentation">Instrumentation</option>
		<option value="Robotics&Automation">Robotics&Automation</option>
		<option value="Production">Production</option>
		<option value="Petroleum">Petroleum</option>
		<option value="Planning">Planning</option>
		<option value="Polymer">Polymer</option>
		<option value="Electronics">Electronics</option>
		<option value="Industrial&Production">Industrial&Production</option>
		<option value="Metallurgical">Metallurgical</option>
	</select>
</div>
<br>
<div>
	<button type="submit"> Submit </button>
</div>
</form>

</body>
</html>