<html>
<body>
{% extends 'Reviews/base.html' %}
{% block title %}
<h2><u><i><b>Latest Reviews:</b></i></u></h2>
{% endblock %}

{% block body %}
<br><h6>
{% if latest_review_list %}

	{% for review in latest_review_list %}
	<div class="col-xs-12 col-lg-12">
	<ul class="list-group" style="list-style-type: none;">
        <li class="list-group-item"><a href="{% url 'Reviews:review_detail' review.id %}">
	{{ review.college.name }}
	</a></li>
	<li class="list-group-item"> Rated  {{ review.rating }} / 5  by {{ review.user_name }}<br>
	{{ review.description }}
	</li>
    </ul>
	<br>
    </div>
	{% endfor %}
{% else %}
</h6>
<p> No reviews available </p>
{% endif %}
{% endblock %}
</body>
</html>